<style>
    body{
        background-image: url("images/background.jpg");
        filter: grayscale(80%);
        background-position: top;
        background-size: cover;
    }
</style>

<main role="main" class="inner cover">
    <h1 class="cover-heading">Health care home training</h1>
    <p class="lead">Support - Squat</p>
    <p class="lead">
        <a href="/squat" class="btn btn-lg btn-secondary">Training Squat</a>
    </p>
</main>

<% include ../part/footer.ejs%>

</div>